* {
    box-sizing: border-box;
    font-family: 'PT Sans', Arial;
    margin: 0;
    padding: 0;
}

img {
    user-select: none;
    pointer-events: none;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

#banner {
    display: flex;
    justify-content: center;
    background: url("../imgs/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
    color: #fff;
}

footer {height: 100vh;}

#bannerHeadline {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bannerHeadline * {
    margin: 0px;
    text-shadow: 0px .5px 0px #333;
}

#bannerOptions {
    display: flex;
    height: 210px;
    width: 100%;
    box-shadow: 0px -1px 3px -2px #000;
}

#bannerOptions > * {flex:1;}

#bannerOptions div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#bannerOptions div p:first-child {
    font-size: 1.5em;
}

#bannerOptions div p:not(:nth-child(1)), #horarioFuncionamento div p:first-child {
    font-size: 0.8em;
    line-height: 18px;
}

#bannerOptions div button {
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    font-size: 0.8em;
    width: fit-content;
}

#bannerOptions div button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#bannerOptions > #horarioFuncionamento {
    justify-content: flex-start;
    row-gap: 10px;
}

#horarioFuncionamento div {
    padding: 0px;
    width: 100%;
}

#horarioFuncionamento div p {
    text-align-last: justify;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 990px;
}

.column {
    flex-direction: column;
}

@media (orientation: portrait), (max-width: 700px) {
    .container:first-child {
        justify-content: center;
        flex-direction: column;
    }

    #bannerOptions {
        height: max-content
    }
}

.container + * {
    flex: 1;
}

.menu:is(nav) {
    --bg: #2fabe8;
    --cl: #fff;
    display: flex;
}

.menu a {
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    transition: all 0.3s;
}

.menu a:first-child {
    background-color: var(--bg);
    color: var(--cl);
}

.menu a:hover, menu a:first-child:hover {
    background-color: #2fabe8;
    color: #fff;
}

.menu:hover {
    --bg: #fff;
    --cl: #727272;
}